@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background-color: #1e1e1e;
}

#navbar{
  font-family: 'Poppins', sans-serif;
}